$active: green;
$base-color: grey;

$primary-color: #1976d2;
$secondary-color: #f50057;
$white-color: #ffffff;
$background-color: #000;
$text-color: #fff;
$border-color: rgba(255, 255, 255, 0.3);
$row-background-odd: rgba(255, 255, 255, 0.1);
$row-background-even: rgba(255, 255, 255, 0.2);
$row-background-hover: rgba(255, 255, 255, 0.05);
$row-text-hover: #fff;
$loading-background: rgba(255, 255, 255, 0.1);
$scrollbar-thumb: rgba(255, 255, 255, 0.3);
$scrollbar-thumb-hover: rgba(255, 255, 255, 0.5);
