@import 'src/styles/partials/variable';
@import 'src/styles/partials/mixins';

.collapsibleTitle {
  font-weight: bold;
}

.dot {
  color: $white-color;
}

.collapsibleHeader {
  @include flex(row, center, space-between);
  border-bottom: 1px solid rgba($white-color, 0.2);
}

.notifications {
  @include flex(row, center, flex-end);
  gap: 10px;
}

.notificationText {
  color: $white-color;
  margin-right: 20px;
}

.realTime {
  @include flex(row, center, center);
}

.active {
  color: $active;
}

.inactive {
  color: #ff5f5f;
}
