@import "src/styles/main";

.collapsibleTitle {
  font-weight: bold;
}

.dot {
  color: $base-color;
}

.collapsibleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notifications {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.notificationText {
  color: $base-color;
}

.active {
  color: $active;
}

.deactive {
  color: #ff5f5f;
}